:root {
    --secundario: #0097af;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    background-color: #e7e5e5;
    text-align: center;
}
h1 {
    margin: 8px;
}
h2 {
    margin: 1rem auto;
}
div {
    unicode-bidi: isolate;
}
img {
    width: 240px;
    aspect-ratio: auto 240 / 240;
    height: 240px;
    object-fit: cover;
    border-radius: 2rem;
}
.foto {
    position: relative;
    padding: 10px auto;
    margin: 10px;
    
}
.name {
    font-size: 23px;
}
.apartadoContactos {
    margin: 3rem;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #fff;
    border-radius: 2rem; 
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.full {
    font-size: 16px;
    display: inline-block;
    font-weight: 500;
    text-transform: capitalize;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f6f6;
    border-radius: 5px;
    padding: 5px 20px;
    margin-bottom: 1rem;
}
  
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.redes__ul {
    display: flex;
    list-style: none;
    gap: 10px;
}
.redes__item a {
    text-decoration: none;
    width: 4.8rem;
    height: 4.8rem;
    background-color: #f0f9fe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 3px solid #f0f9fe;
    overflow: hidden;
}
.redes__item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: bottom;
    transition: scale 0.5s ease;
}
.redes__item:hover a::before {
    scale: 1 1;
}
.icon {
    font-size: 2rem;
    color: hsl(203, 92%, 8%);
    transition: 0.5s ease;
    z-index: 2;
}
.redes__item a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}
.redes__item:nth-child(1) {
    --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}
  .redes__item:nth-child(2) {
    --bg-color: linear-gradient(to top, #12be52 0%, #25D366 100%);
}
.redes__item:nth-child(3) {
    --bg-color: #0077b5;
}
  .redes__item:nth-child(4) {
    --bg-color: #000000;
}
  .redes__item a:hover .icon-tabler {
    stroke: #fff;
}
/* aqui termina el apartado de contactos */

.contact-container {
    margin-right: 5px;
    background-color: whitesmoke;
    border-radius: 16px;
    text-align: left;
    padding: 30px 15px;
    margin: 20px 15px;
  
}
.icon-container {
    
    border-bottom: 1px solid rgb(163, 158, 158);
    margin-bottom: 10px;
}
.icon-container:last-child {
    border-right: 0;
}
.icon-container ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 10px;
}
.icon-container li {
    margin-bottom: 10px;
    transition: background-color .3s ease;
}
.icon-container i {
    display: block;
}
.icon-contact:hover {
    background-color: #1b74e4;
    transition: background-color .3s ease;
    color: #fff;
}
.icon-contact:hover .icon-tabler {
    stroke: #fff;
}
.text {
    display: block;
}

.icon-contact {
    flex: 0 0 auto;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    line-height: 5.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,.08);
    transition: .3s;
}
.text span {
    display: inline-block;
    display: block;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 3px;
    color: rgb(163, 158, 158);
}
.text p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 0;
    text-decoration: none;

}


.btnDownload {
    font-size: 35px;
    border-color: #1b74e4;
    height: 50px;
  
}
.download-btn {
    background-color: #1b74e4;
    color: #fff;
    padding: 14px 30px;
    margin-bottom: 30px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    border-radius: 10px;
    text-align: center;
    border: none;
    transition: background-color .3s ease;
    content: attr(870px );
}
.download-btn:hover {
    background-color: #fff;
    color: #000;
    border: solid 1px;
    border-color: #1b74e4;
}
.download-btn:hover .icon-tabler-download {
    stroke: #000;
    fill: #000;
}
.icon-tabler-download {
    transition: background-color .3s ease;
}

.conexiones {
    background-color: #fff;
    border-radius: 2rem;
    padding-bottom: 3rem;
}

/* aquí abre el apartado "Sobre mí"  */

.sobremi {
    margin: 3rem;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 2rem;
    text-align: left;
}
.text-sobremi p{
    font-size: 20px;
    padding-bottom: 20px;
}


/* CONTENEDOR GENERAL */
.proyectos {
  padding: 40px 0;
}

/* LISTA */
.lista-proyectos {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

/* CARD */
.proyecto {
  background: #ffffff;
  border: 1px solid #e1e4e8;
  border-radius: 12px;
  padding: 20px;
  transition: 0.2s ease;
}

.proyecto:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.header-proyecto {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.header-proyecto h3 {
  font-size: 18px;
  color: #24292f;
}


/* LINK INTERNO */
.proyecto a {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* ICONO */
.proyecto svg {
  margin-bottom: 10px;
}

/* TITULO */
.proyecto h3 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #24292f;
}

/* DESCRIPCION */
.proyecto p {
  font-size: 14px;
  color: #57606a;
  margin-bottom: 12px;
}

/* TECNOLOGIA */
.tech {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  font-size: 13px;
  color: #57606a;
}

.tech-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Círculo base */
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* Colores por tecnología */
.react {background-color: #61DBFB;}
.vite {background-color: #646CFF;}
.javascript { background-color: #F7DF1E; }
.css { background-color: #1572B6; }
.html { background-color: #E34F26; }
.php { background-color: #777BB4; }
.sql { background-color: #4479A1; }
.scss { background-color: #CC6699; }


.project-buttons {
    display: flex;
    gap: 12px;
    margin-top: 15px;
    align-items: center;
    justify-content: space-evenly;
}
.project-buttons a {
    display: flex;
}
.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #e1e4e8;
    justify-content: center;
}
.btn svg{
    margin-bottom: 2px;
    padding: 0;
}

.btn-code:hover {
    background-color: #000;
    color: #fff;
    transition: 0.5s;
    border: 1px solid #000;
    box-shadow: 0 0px 15px #000;
}
.btn-demo:hover {
    background-color: #E34F26;
    color: #fff;
    transition: 0.5s;
    border: 1px solid #E34F26;
    box-shadow: 0 0px 15px #E34F26;
}


/* aquí termina la imformación */

@media (min-width: 1199px) {
    .todo {
      display: grid;
      grid-template-columns: 30% 70%;
      padding: 120px;
    }
}